<div class="page-margin">
  <div class="header">
    <h1>Classes</h1>
  </div>
  <div class="d-flex flex-column">

    <div *ngIf="!hasGroups" class="group">
      You don't have any classes. Please contact CodeGakko to create one!
    </div>

    <div *ngFor="let group of groups" class="card group-card">

      <div class="card-block d-flex justify-content-between align-items-center">
        <h4 class="card-title">{{ group.name }}</h4>
        <a [routerLink]="['/groups/' + group.id ]" class="btn btn-primary">Select</a>
      </div>

    </div>
  </div>
</div>
