<!-- Card -->
<div class="page-margin w-75 mh-100">     
      
        <!-- Material form register -->
        <form #userForm="ngForm" (ngSubmit)="onSubmit()">
            <p class="h4 py-1">Change Password</p>

            <!-- Material input password -->
            <div class="md-form form-sm mw-100">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" class="form-control">
                <label for="oldPassword" [class.active]="selectedUser.pwd && selectedUser.pwd.length > 0" class="font-weight-light">Current</label>
            </div>

            <div class="md-form form-sm mw-100">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" class="form-control">
                <label for="newPassword" class="font-weight-light">New</label>
            </div>

            <div class="md-form form-sm mw-100">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="retypePassword" [(ngModel)]="retypePassword" name="retypePassword" class="form-control">
                <label for="retypePassword" class="font-weight-light">Re-type new</label>
            </div>

            <div ng-if="newPassword.value != retypePassword.value" class="mismatchPass">Password Mismatch!</div>

            <div class="text-center py-2 mt-3">
                <button class="btn btn-cyan" type="submit">Save Changes</button>
            </div>
        </form>

        <!-- Material form register -->
</div>
<!-- Card -->