.list-group {
  height: inherit;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  overflow-y: auto;
}

.list-group-item {
  padding: 8px 10px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

.list-group-item i {
  margin-right: 10px;
}

.active {
  color: white !important;
}

.title-icon {
  font-size: 24px;
  margin-right: 10px;
}

.detail-container {
  padding: 20px;
}

.fa-check {
  margin-left: 5px;
}

.remove-padding {
  padding: 0;
}

.divModal {
  display: none;
}

.modal-dialog {
width: 350px;
}

.modal-body {
padding: 0px;
display: block;
}
.heading {
font-weight: bold;
color: black;
}

a:link {
  color: black;
}

a:hover {
background-color: white;
color: black;
font-weight: bold;
cursor: pointer;
}

fa {
  background-color: black;
}