<div class="page-margin">
  <div class="header">
    <button [routerLink]="['/schools']" type="button" class="backButton btn px-3"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <h5 class="ml-2 align-middle font-weight-bold" style="display: inline-block"> School &nbsp;>&nbsp; {{ school.title }}</h5>
  </div>
  <div class="row">
  <div class="col-4">
    <div class="md-form form-sm">
      <label>Search:</label>
      <input (keyup)="getStudentUsers($event.target.value)" type="text" class="form-control">
    </div>
  </div>
  <div class="col text-right">
    <button *ngIf="schoolStudent" (click)="showModal()" type="button" class="btn btn-light-green accent-3 btn-md">
      <i class="fa fa-plus pr-2" aria-hidden="true"></i>Add Student</button>
  </div>
  </div>
  <div class="card">
    <div class="card-header">
      Students of {{ school.title }}
    </div>
    <table class="table">
      <thead>
        <th>#</th>
        <th width="90%">Full Name</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentId">
          <th class="counterCell"></th>
          <td>{{ student }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="student-list-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <!--Modal: Contact form-->
  <div class="modal-dialog cascading-modal modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header primary-color white-text">
        <h4 class="title">
          <i class="fa fa-user"></i> List of Students</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="card">
          <table class="table">
            <thead>
              <th width="1%">
              </th>
              <th>Full Name</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td width="1%">
                  <input type="checkbox" (change)="checkAddToSchool(user.id)">
                </td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center mt-4 mb-2">
          <button class="btn btn-primary" (click)="onSubmit()">Save
            <i class="fa fa-send ml-2"></i>
          </button>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
  <!--/Modal: Contact form-->
</div>

  