.page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-select{
    width: 90%;
    margin-left: 35px;
    margin-top: 5px;
    font-size: 15px;
  }
  .dropdown-toggle::after {
    display:none;
  }

  .filter{
   margin-left: 20%;
   margin-top: -18%;
   font-size: 15px;
  }

  span {
    font-family: Ubuntu;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: #F37053;
    color: whitesmoke;
  }

 .primary-color {
  background-color: #ed6f52!important;
  align-content: center;
 }
 
 .modal-title{
   margin: 0 auto;
 }
.btn {
  border-radius: 8px;
}

table {
  counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}
